//variables  degisken tanımlamaları
//Color Codes
$primary-color : #0f346c;
$secondary-color: #dd5642;
$black : #000;
$white : #fff;
$facebook: #4652A0;
$twitter: #47A5F0;
$google-plus: #D04F32;
$light-blue :#39579a;
$medium-red: #ff9d9d;
$light-red: #fee;
$dark-grey:#474747;
$medium-grey: #999;
$light-grey:#bcbcbc;
$extra-light-grey: #fafafa;
$silver: #e2e2e2;
$purple: #9b59b6;
$orange: #e67e22;

//Background Color Codes
$background-color: #f8f8f8;
$medium-silver: #cccccc;
$light-silver: #ededed;
$light-yellow: #f4e5a7;
$extra-light-yellow: #fff7d6;
$light-pink: #F3E7E7;

//Alert Boxes
$info: #E1F2FF;
$success: #d4ffcd;
$warning: #fff7d6;
$error: #ffdcdc;
$note-bd: #e8e8e8;

//Fonts
$ff-mr: 'montserratregular',sans-serif;
$ff-mm: 'montserratmedium',sans-serif;
$ff-mmmi: 'montserratmedium_italic',sans-serif;
$ff-mb: 'Montserratsemibold',sans-serif;



